<button><%= link_to 'New Task', new_task_path %></button>
<hr>
 <%#= button_to "created date descending", all_tasks_path(order: "date desc"), form: {style: 'display:inline-block;'} %></p>
<br><br>
<%#= button_to "created date descending", tasks_path(sort_param: "created_at Desc"), :method => "get", form: {style: 'display:inline-block;'} %></p>
<br><br>
<%#= button_to "created date asc", tasks_path(sort_param: "created_at asc"), :method => "get", form: {style: 'display:inline-block;'} %></p>
<br><br>
<p id="notice"><%= notice %></p>
<% @tasks.each do |task| %>
  <h3><%= task.title %></h3>
  <p><%= task.content %> </p>
  <p>deadline: <%= task&.deadline&.strftime('%B %e, %Y') %></p>
  <%= button_to "Edit", edit_task_path(task), :method => "get" , form: {style: 'display:inline-block;'}%>
  <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } , form: {style: 'display:inline-block;'}%>
  <%= button_to 'Show', task, :method => "get" , form: {style: 'display:inline-block;'}%>
  
  <p>-------------------------------------------------------</p>
<% end %>
