<h2> <%= t('view.show') %> </h2>

<p id="notice"><%= notice %></p>
<p>
  <strong><%= t('view.title') %>: </strong>
  <%= @task.title %>
</p>
<p>
  <strong><%= t('view.content') %>:</strong>
  <%= @task.content %>
</p>

<%= button_to 'Edit', edit_task_path(@task), form: {style: 'display:inline-block;'} %>
<%= button_to 'Back', all_tasks_path, :method => "get", form: {style: 'display:inline-block;'} %>
