


    <!-- <div class="col-sm">
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
        title="Tooltip on top topdk">
        Tooltip on top
      </button>
    </div> -->
    <% @tasks.each do |task| %>
    <div class="col-lg-4 col-md-6 col-sm-12 pb-2">

      <div class="card border-info" style="min-height: 24rem; max-height: 26rem;">
        <div class="card-header">
          <span class="badge badge-pill badge-danger"><%= task.status %></span>
          <%# task.aasm.events(possible: true).map(&:name).each do |event| %>
          <%#= link_to t(event, scope: [:task, :event]), [event, task], method: :patch, class: "btn btn-#{t event, scope: [:task, :btn_class]}" %>
          <% task.aasm.events(possible: true).map(&:name).tap do |event| %>
          <% if event.include? :start %>
          <%= link_to "Start", ['start', task], method: :patch, class: "btn btn-sm btn-outline-primary" %>
          <% end %>
          <% if event.include? :stop %>
          <%= link_to "Stop", ['stop', task], method: :patch, class: "btn btn-sm btn-outline-danger" %>
          <% end %>
          <% if event.include? :restart %>
          <%= link_to "Restart", ['restart', task], method: :patch, class: "btn btn-sm btn-outline-info" %>
          <% end %>
          <% if event.include? :done %>
          <%= link_to "Done", ['done', task], method: :patch, class: "btn btn-sm btn-outline-success" %>
          <% end %>
          <% end %>
          <div class="btn-group float-xl-right">
            <button type="button" class="btn btn-outline-dark dropdown-toggle " data-toggle="dropdown">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-item">
                <%= link_to "Edit", edit_task_path(task) , form: {style: 'display:inline-block;'}, class: "btn btn-outline-dark btn-md btn-block" %>
              </li>
              <li class="dropdown-item">
                <%= link_to 'Show', task , form: {style: 'display:inline-block;'}, class: "btn btn-outline-dark btn-md btn-block" %>
              </li>
              <li class="divider"></li>
              <li class="dropdown-item">
                <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } , form: {style: 'display:inline-block;'}, class: "btn btn-outline-dark btn-md btn-block" %>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">

          <div class="card-text">


            <h3><%= task.title %></h3>
            <p>Content:
              <% if task.content.length > 120 %>
              <%= truncate(task.content, length: 100) %>
              <%= link_to '.Read more',task, class: "" %>

              <% else %>
              <%= task.content %>
              <% end %>
            </p>  





            <%#= button_to "Edit", edit_task_path(task), :method => "get" , form: {style: 'display:inline-block;'}%>
            <%#= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } , form: {style: 'display:inline-block;'}%>
            <%#= button_to 'Show', task, :method => "get" , form: {style: 'display:inline-block;'}%>


          </div>





          <%#= will_paginate @tasks %>




        </div>
        <div class="card-footer" style="padding-right: 1;">
          Deadline:<label class="text-danger"> <%= task&.deadline&.strftime('%B %e, %Y') %></label>

          <!-- <p>priority: <%= task.priority %></p> -->
          
            <% if task.priority == "high" %>
            <span class="badge badge-dark"><%= task.priority %> priority</span>
            <% end %>
            <% if task.priority == "medium" %>
            <span class="badge badge-secondary float-right" ><%= task.priority %> priority</span>
            <% end %>
            <% if task.priority == "low" %>
            <span class="badge badge-light"><%= task.priority %> priority</span>
            <% end %>
        
        </div>
      </div>

    </div>




    <% end %>


    <div class=" pagination justify-content-center col-lg-12">
      <%= paginate @tasks, theme: 'twitter-bootstrap-4' %>
    </div>




